.btn {
	font-weight: 700;
	border: 3px solid transparent;
	background: transparent;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1em;
	border-radius: $border-radius-button;
	color: $color-text;
	@include animate();

	&:visited {
		color: $color-text;
	}

	&:hover,
	&.focus,
	&:active,
	&:active:hover {
		border-color: $color-4;
		text-decoration: none;
		outline: none;
		box-shadow: none;
		background-color: $color-5;
	}

	&.btn-icon {
		background-color: $color-secondary;
		border-color: $color-secondary;
		border: 0;
		color: #fff;
	}

	&.btn-sm {
		letter-spacing: 0;
		font-size: 0.8em;
		border-width: 2px;
	}

	&.btn-lg {
		font-size: 1.2em;
		border-width: 5px;
	}

	&.with-icon {
		margin: 4px;
		padding-left: 10px;
		padding-right: 10px;
		width: 39px;
	}
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	box-shadow: none;
}

.btn-default,
a.btn-default {
	color: $color-text;
	border-color: transparent;
	background-color: transparent;

	&:visited {color: $color-text;}

	&:hover,
	&:focus,
	&:active,
	&:active:hover {
		color: $color-text;
		border-color: $color-text;
		background: white;
	}
	&.disabled,
	&[disabled] {
		color: $color-text;
		border-color: transparent;
		background-color: transparent;
	}
}

.btn-primary,
a.btn-primary {
	color: $color-text-contrast;
	border-color: $color-primary;
	background-color: $color-primary;

	&:visited {color: $color-text-contrast;}

	&:hover,
	&:focus,
	&:active,
	&:active:hover {
		color: $color-primary;
		border-color: $color-primary;
		background-color: $color-text-contrast;
	}
	&.disabled,
	&[disabled] {
		color: $color-text-contrast;
		border-color: $color-primary;
		background-color: mix(grey, $color-primary, 50);
	}
}

.btn-secondary,
a.btn-secondary {
	color: $color-text-contrast;
	border-color: $color-secondary;
	background-color: $color-secondary;

	&:visited {color: $color-text-contrast;}

	&:hover,
	&:focus,
	&:active,
	&:active:hover {
		color: $color-secondary;
		border-color: $color-secondary;
		background-color: $color-text-contrast;
	}
	&.disabled,
	&[disabled] {
		color: $color-text-contrast;
		border-color: $color-secondary;
		background-color: mix(grey, $color-secondary, 50);
	}
}

.btn-accent,
a.btn-accent {
	color: $color-text-contrast;
	border-color: $color-accent;
	background-color: $color-accent;

	&:visited {color: $color-text-contrast;}

	&:hover,
	&:focus,
	&:active,
	&:active:hover {
		color: $color-accent;
		border-color: $color-accent;
		background-color: $color-text-contrast;
	}
	&.disabled,
	&[disabled] {
		color: $color-text-contrast;
		border-color: $color-accent;
		background-color: mix(grey, $color-accent, 50);
	}
}

.input-group-btn {
    position: relative;
    font-size: 1em;
    white-space: nowrap;
}
