/******************* BOX   NEWS letter   ************/

.btn-newsletter {
	border: 0;
	background-color: $color-secondary;
	border-color: $color-secondary;
	color: white;
	line-height: 1.5em;
	padding: 0.75em 1em;
	&:hover {
		background-color: white;
		border-color: $color-secondary;
		color: $color-secondary;
	}
}
