.breadcrumb {
    padding: 7px 14px;
    margin: 0 0 0px;
    list-style: none;
    background-color: #FBFBFB;
    background-repeat: repeat-x;
    border: 1px solid #DDD;
    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 white;
}
