.light {
    text-align: center;
}

.light .alert-info,.light .alert-notice {
    background: url(../alert_fill_success.png) top center no-repeat;
    background-color: #fff;
}

.light .alert-error {
    background: url(../alert_fill_failed.png) top center no-repeat;
    background-color: #fff;
}

.alert-wrapper {
    text-align: center;
}

.alert-box {
    text-align: center;
}

.alert-box .alert {
    border-radius: 0px;
    border: none;
    color: #596170;
    display: inline-block;
    font-weight: 600;
    float: none;
    font-weight: bold;
    min-height: 100px;
    padding: 90px 10px 20px;
    position: absolute;
    text-transform: uppercase;
    width: 160px;
    margin-left: -80px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    opacity: 0;
    z-index: -50;
    top: 84px;
    left: auto;
    right: auto;
    position: absolute;
}

@-webkit-keyframes fade {
    0%,100% {
        opacity: 0;
        z-index: 50;
    }

    1%,90% {
        opacity: 1;
        z-index: 50;
    }
}

.alert-box .alert-info,.alert-box .alert-notice {
    background: url(../alert_trans_success-e.png) top center no-repeat;
    background-color: #fff;
}

.alert-box .alert-early_access {
    background-image: url(../icn-unlocked.svg);
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-size: 50px 50px;
    background-color: #fff;
}

.alert-box .alert-early_access p {
    text-transform: none;
    font-weight: normal;
}

.alert-box .alert-error,.alert-box .alert-alert {
    background: url(../alert_trans_failed.png) top center no-repeat;
    background-color: #fff;
}

.video-wide {
    background: #000;
}

.video-wide .alert-info,.video-wide .alert-notice {
    border: 2px solid #923031;
    text-align: center;
    padding: 25px;
    background: none;
    margin-top: 15%;
}

.video-wide .alert-info .alert,.video-wide .alert-notice .alert {
    color: #923031;
    background: url(../alert_trans_failed1.png) no-repeat;
    background-position: top center;
    padding-top: 60px;
}

.four_oh_four {
    background-color: #191c21;
}

#four_oh_four {
    color: #dbdde1;
    font-weight: 300;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #191c21;
    background-image: url(../404.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px 0 0 0;
}

#four_oh_four .error {
    width: 830px;
    margin: 130px auto;
}

#four_oh_four .error h1 {
    font-size: 60px;
    letter-spacing: 2px;
    margin: 0 auto 50px;
    line-height: 1.25em;
    text-transform: uppercase;
}

#four_oh_four .error h2 {
    font-color: #dbdde1;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 0.667;
    margin: 0 auto 10px;
    line-height: 1.25em;
    text-transform: uppercase;
}

#four_oh_four .error h3 {
    font-color: #dbdde1;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 0.667;
    margin: 0 auto 10px;
    line-height: 1.25em;
    font-weight: 300;
}

#four_oh_four .error h4 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 0.667;
    margin: 0 auto 10px;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 490px;
}

#four_oh_four .error p {
    font-size: 16px;
    line-height: 1.5em;
    text-align: left;
    margin: 40px 50px;
    letter-spacing: .5px;
    color: #fff;
}

#four_oh_four .error a {
    color: #f15a25;
    display: inline-block;
    letter-spacing: 1px;
    margin: 10px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

#four_oh_four .error a span.icon-svg2 {
    margin: 0 5px;
}

@media only screen and (max-width: 979px) {
    .four_oh_four .error {
        width: 90%;
    }

    .four_oh_four .error h4 {
        width: 90%;
    }
}

body .five_hundo #pages {
    background-color: #191c21;
}

.five_hundo {
    color: #dbdde1;
    font-weight: 300;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #191c21;
    background-image: url(../500.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
}

.five_hundo .error {
    width: 830px;
    margin: 130px auto;
}

.five_hundo .error h1 {
    font-size: 60px;
    letter-spacing: 2px;
    margin: 0 auto 50px;
    line-height: 1.25em;
    text-transform: uppercase;
}

.five_hundo .error h2 {
    font-color: #dbdde1;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 0.667;
    margin: 0 auto 10px;
    line-height: 1.25em;
    text-transform: uppercase;
}

.five_hundo .error h3 {
    font-color: #dbdde1;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 0.667;
    margin: 0 auto 10px;
    line-height: 1.25em;
    font-weight: 300;
}

.five_hundo .error h4 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 0.667;
    margin: 0 auto 10px;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 490px;
}

.five_hundo .error p {
    font-size: 16px;
    line-height: 1.5em;
    text-align: left;
    margin: 40px 50px;
    letter-spacing: .5px;
    color: #fff;
}

.five_hundo .error ul {
    margin: 0px auto 30px;
    letter-spacing: .5px;
    padding: 0;
    display: block;
    width: 260px;
}

.five_hundo .error ul li {
    font-size: 24px;
    letter-spacing: .5px;
    line-height: 34px;
    list-style-type: none;
    text-align: left;
}

.five_hundo .error ul li:before {
    content: "•";
    font-size: 14px;
    margin: 8px;
}

.five_hundo .error .contact p {
    font-size: 16px;
    letter-spacing: .5px;
    margin: 0;
    text-align: center;
}

.five_hundo .error .contact p a {
    color: #f15a25;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0 5px;
    text-decoration: none;
}

.five_hundo .error .contact p a span.icon-svg2 {
    margin: 0 5px;
}

.ie9 #assignment-ie,#assignment-tablet,#assignment-mobile {
    background: #fff;
    color: #596170;
    padding: 25px 15px;
    margin: 0 15px;
    display: block;
    max-width: 1070px;
}

@media (min-width: 768px) {
    .ie9 #assignment-ie,#assignment-tablet,#assignment-mobile {
        margin: 0 30px;
    }
}

@media (min-width: 960px) {
    .ie9 #assignment-ie,#assignment-tablet,#assignment-mobile {
        margin: 0 auto;
    }
}

.ie9 #assignment-ie p,#assignment-tablet p,#assignment-mobile p {
    max-width: 350px;
    margin: 15px auto;
    font-size: 22px;
    line-height: 36px;
}

.ie9 #assignment-ie .reminder-block,#assignment-tablet .reminder-block,#assignment-mobile .reminder-block {
    display: block;
    font-size: 15px;
    margin: 0 auto;
    text-align: left;
    text-transform: none;
    width: 200px;
}

.ie9 #assignment-ie .reminder-block .image-box,#assignment-tablet .reminder-block .image-box,#assignment-mobile .reminder-block .image-box {
    border-radius: 30px;
    border: 1px solid #7d899d;
    display: block;
    float: left;
    height: 50px;
    margin: 0px 10px 5px 15px;
    outline: none;
    position: relative;
    width: 50px;
}

.ie9 #assignment-ie .reminder-block .image-box span.ico-mail,#assignment-tablet .reminder-block .image-box span.ico-mail,#assignment-mobile .reminder-block .image-box span.ico-mail {
    padding: 2px 0px 0px 13px;
    position: relative;
    line-height: 48px;
    text-align: center;
    color: #7d899d;
}

.ie9 #assignment-ie .reminder-block .reminder-text,#assignment-tablet .reminder-block .reminder-text,#assignment-mobile .reminder-block .reminder-text {
    font-size: 15px;
    margin: 0;
}

.ie9 #assignment-ie .reminder-block .reminder-link,#assignment-tablet .reminder-block .reminder-link,#assignment-mobile .reminder-block .reminder-link {
    text-transform: none;
    display: block;
    font-size: 15px;
    margin: 0;
}

.ie9 #assignment-start-content {
    display: none;
}

.no-ie9 #assignment-ie {
    display: none;
}

.ie9 #assignment-end-content {
    display: none;
}

.ie9 #assignment-start-content {
    display: none;
}

.mobile-device #assignment-end-content {
    display: none;
}

.mobile-device #assignment-start-content {
    display: none;
}

.no-mobile-device #assignment-mobile {
    display: none;
}

.tablet #assignment-end-content {
    display: none;
}

.tablet #assignment-start-content {
    display: none;
}

.no-tablet #assignment-tablet {
    display: none;
}

.no-tablet #contest-device-error h3,.no-mobile-device #contest-device-error h3 {
    display: none;
}

.mobile-device #rate-and-review-assignment .m-page-section__container,.tablet #rate-and-review-assignment .m-page-section__container,.ie9 #rate-and-review-assignment .m-page-section__container {
    display: none;
}

.mobile-device #a-rnr-end-screen,.mobile-device #a-rnr-carousel-container,.tablet #a-rnr-end-screen,.tablet #a-rnr-carousel-container,.ie9 #a-rnr-end-screen,.ie9 #a-rnr-carousel-container {
    display: none;
}

.mobile-device #jp-contest-form,.tablet #jp-contest-form {
    display: none;
}

.mobile-device #contest-device-error h3,.tablet #contest-device-error h3 {
    display: block;
    padding: 20px 0px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.mc-breadcrumb a,.mc-breadcrumb a:hover,.mc-breadcrumb a:focus,.mc-header__login-link,.mc-header__login-link:hover,.mc-header__login-link:focus {
    color: #fff;
    text-decoration: none;
}

.mobile-nav-active {
    position: fixed;
    overflow: hidden;
}

.mobile-nav-active .mc-header__sign-out {
    display: block;
}

.mc-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 120;
}

.mc-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
}

.mc-header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    right: 0;
    top: -300px;
    background: #000000;
    z-index: 9999;
}

.mc-header .mc-container {
    padding: 0;
}

.mc-header__sign-out {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    background: rgba(0,0,0,0.9);
    color: rgba(255,255,255,0.5);
    padding: 32px 16px;
    z-index: 120;
}

.mc-header__inner {
    position: relative;
    padding: 11px 10px;
    text-transform: uppercase;
    max-width: 1200px;
    margin: 0 auto;
}

.mc-header__dropdowns {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 130;
}

.mc-header__right-col {
    display: flex;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 0 10px;
}

.mc-header__logo,.mc-header .mc-breadcrumb {
    display: none;
}

.mc-header__wordmark {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
    width: 124px;
}

.mc-header__wordmark img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.mc-header__login-link {
    position: relative;
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

.mc-header__login-link:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -0.5em;
    left: auto;
    width: 0;
    height: 2px;
    background: #f15a25;
    transition: width 250ms ease;
}

.mc-header.logged-out .mc-header__wordmark {
    margin: 0;
}

.mc-header.logged-out .mc-header__inner {
    padding: 17px 17px 18px;
}

.mc-header.logged-out .mc-header__right-col {
    left: auto;
    height: 48px;
    padding: 7px 17px 0;
}

.mc-header.logged-out .inactive .mc-header__logo-text {
    text-transform: none;
    font-weight: normal;
    float: left;
    margin: 12px 0;
}

@media (max-width: 767px) {
    .mc-header.logged-out.condensed .inactive .mc-header__logo-text {
        opacity: 0;
        margin: 0;
        transition: margin 450ms, opacity 450ms;
    }
}

@media (max-width: 767px) {
    .mc-header.logged-out.expanded .inactive .mc-header__logo-text {
        opacity: .8;
        margin: 12px 0;
        transition: margin 450ms, opacity 450ms;
    }
}

.mc-header .mobile-only .avatar {
    margin-right: 1em;
}

.mc-header .desktop-only .avatar {
    margin-left: 1em;
}

.mc-header .comment-content {
    display: block;
    position: relative;
    padding-left: calc(1em + 45px);
}

.mc-header .comment-content .chapter-marker {
    margin-bottom: 0.5em;
}

.mc-header .comment-content .user {
    font-weight: bold;
    margin-right: 0.25em;
    color: #fff;
}

.mc-header .comment-content .timestamp {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 1em;
    color: rgba(255,255,255,0.5);
}

@media (min-width: 768px) {
    .mobile-nav-active {
        position: static;
        overflow: auto;
    }

    .mc-header {
        max-height: 90px;
        transition: background 450ms cubic-bezier(0.25, 0.1, 0.25, 1),max-height 450ms cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .mc-header__right-col {
        left: auto;
        padding: 0 10px;
        height: 34px;
    }

    .mc-header__dropdowns {
        z-index: auto;
    }

    .mc-header__logo {
        position: relative;
        display: block;
        width: 124px;
        height: 56px;
        margin: 0 auto;
        transition: margin 450ms cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .mc-header__logo img {
        width: 100%;
        height: auto;
    }

    .mc-header__wordmark {
        margin: 0 auto;
        float: none;
    }

    .mc-header .mc-breadcrumb {
        display: block;
        position: absolute;
        top: 11px;
        left: 10px;
        display: block;
        font-size: 0.75em;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.0833em;
    }

    .mc-header .mc-breadcrumb:before {
        content: "<";
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5em;
        color: #f15a25;
    }

    .no-touch .mc-header__login-link:hover:after {
        left: 0;
        right: auto;
        width: 100%;
    }

    .mc-header.logged-out {
        background: linear-gradient(to bottom, black 0%, transparent 100%);
        background-repeat: repeat-x;
        background-position: 0 -50px;
    }

    .mc-header.logged-out .mc-header__inner {
        padding: 11px 10px;
    }

    .mc-header.logged-out .mc-header__right-col {
        padding: 0 10px;
    }

    .mc-header.logged-out:before {
        opacity: 0;
        transition: opacity 450ms cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .mc-header.condensed {
        max-height: 34px;
    }

    .mc-header.condensed:before {
        opacity: 1;
    }

    .mc-header.condensed .mc-container:not(.cm-sticky-ctas) {
        background: #000;
        transition: background 0ms 450ms ease;
    }

    .mc-header.condensed .inactive .mc-header__logo-text {
        text-transform: none;
        top: 6px;
        left: 152px;
        margin: unset;
        padding-left: 15px;
        position: absolute;
        border-left: 1px solid #31333b;
        display: unset;
    }

    .mc-header.condensed .inactive .mc-header__logo {
        margin-left: 0;
    }

    .mc-header.condensed .inactive #logo-primary {
        transition: margin 450ms cubic-bezier(0.25, 0.1, 0.25, 1);
        margin-top: -6px;
    }

    .mc-header.condensed .inactive {
        margin-top: 0;
        transition: margin 450ms;
    }

    .mc-header.condensed #logo-primary {
        margin-top: -44px;
    }

    .mc-header.expanded {
        max-height: 72px;
    }

    .mc-header.expanded:before {
        opacity: 1;
    }

    .mc-header.expanded .mc-container:not(.cm-sticky-ctas) {
        background: #000;
        transition: background 0ms 450ms ease;
    }

    .mc-header.expanded .inactive .mc-header__logo-text {
        text-transform: none;
        top: 6px;
        left: 152px;
        margin: unset;
        padding-left: 15px;
        position: absolute;
        border-left: 1px solid #31333b;
        display: unset;
    }

    .mc-header.expanded .inactive .mc-header__logo {
        margin-left: 0;
    }

    .mc-header.expanded .inactive #logo-primary {
        transition: margin 450ms cubic-bezier(0.25, 0.1, 0.25, 1);
        margin-top: -6px;
    }

    .mc-header.expanded .inactive {
        margin-top: 19px;
        transition: margin 450ms;
    }

    .mc-header.expanded #logo-primary {
        margin-top: -6px;
    }

    .mc-nav-class-link {
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    .mc-nav-class-link .mc-arrow-thin-red--left {
        margin-right: 7px;
    }

    .mc-nav-class-link .mc-arrow-thin-red--right {
        margin: 0 7px;
    }

    .mc-nav-class-link.breadcrumbs>* {
        display: inline-block;
        vertical-align: middle;
    }

    .mc-nav-class-link.breadcrumbs a {
        color: white;
        transition: color 250ms ease;
    }

    .mc-nav-class-link.breadcrumbs a:hover {
        color: rgba(255,255,255,0.75);
    }

    .mc-nav-class-link.breadcrumbs .instructor-name {
        color: white;
    }

    .mc-header.logged-out {
        padding: 0;
    }

    .mc-header.logged-out #logo-wordmark {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 767px) {
    .mc-header.logged-out.condensed .inactive .mc-header__logo-text {
        display: none;
        transition: display 450ms;
    }
}

@media (min-width: 768px) {
    .mc-header.nav-open {
        overflow: visible;
    }

    .mc-header.nav-open .mc-nav-items {
        margin-top: 0;
    }

    .mc-header .mc-nav-items {
        display: block;
        position: absolute;
        top: 0.45em;
        right: 0.5em;
        overflow: visible;
    }

    .mc-header .mc-nav-items .mc-nav-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.4em;
    }

    .mc-header .mc-nav-items .mc-nav-item.comments .comments-dropdown {
        display: block;
    }

    .mc-header .mc-nav-items .mc-nav-item.comments .comments-dropdown.unread:after {
        content: "";
        position: absolute;
        top: 0.8em;
        right: -0.1em;
        display: block;
        width: 6px;
        height: 6px;
        background: #f15a25;
        border-radius: 6px;
    }

    .mc-header .mc-nav-items .mc-nav-item.comments .mc-subnav-item .comment {
        color: rgba(89,97,112,0.8);
    }

    .mc-header .mc-nav-items .mc-nav-item.cart {
        padding: 0;
    }

    .mc-header .mc-subnav-items {
        position: absolute;
        top: 3.5em;
        right: -16px;
        margin-top: 0;
        width: 350px;
        background: #fff;
        color: #596170;
        opacity: 0;
        visibility: hidden;
    }

    .mc-header .mc-subnav-items:before {
        content: "";
        display: block;
        position: absolute;
        top: -30px;
        right: 10px;
        height: 15px;
        border: 15px solid transparent;
        border-bottom: 15px solid #fff;
    }

    .mc-header .mc-subnav-items:after {
        content: "";
        display: block;
        position: absolute;
        top: -24px;
        left: 0;
        width: 100%;
        height: 24px;
        background: none;
    }

    .mc-header .mc-subnav-item {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .mc-header .mc-subnav-item:first-child {
        border-top: 0;
    }

    .mc-header .mc-subnav-item a {
        color: rgba(89,97,112,0.8);
        transition: color 150ms ease;
    }

    .mc-header .mc-subnav-item .mc-btn.clear {
        color: #596170;
        border: 1px solid rgba(0,0,0,0.5);
        margin-bottom: 0;
        transition: border 250ms ease, color 250ms ease;
    }

    .mc-header .mc-subnav-item .mc-btn.clear:hover {
        color: rgba(89,97,112,0.8);
        border: 1px solid rgba(0,0,0,0.25);
    }

    .mc-header .comment-content .user {
        color: #596170;
    }

    .mc-header .comment-content .timestamp {
        color: rgba(89,97,112,0.5);
    }
}

@media (min-width: 960px) {
    #mc-header .class-switcher li {
        margin-right: 4em;
    }
}

.legacy-mc-components-modal {
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-animation: backgroundFadeIn 250ms;
    animation: backgroundFadeIn 250ms;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 999;
}

@-webkit-keyframes backgroundFadeIn {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(0,0,0,0.8);
    }
}

@keyframes backgroundFadeIn {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(0,0,0,0.8);
    }
}

@media (max-width: 576px) {
    .legacy-mc-components-modal {
        align-items: flex-start;
    }
}

.legacy-mc-components-modal__container {
    max-width: 48rem;
    flex: 1;
    margin: auto;
}

@media (max-width: 576px) {
    .legacy-mc-components-modal__container {
        max-width: calc(100% - 2.4rem);
        margin: 0 auto;
    }
}

.legacy-mc-components-modal__rounded-box {
    padding: 3.6rem 4.8rem;
    position: relative;
    margin: 5rem 0;
}

@media (max-width: 576px) {
    .legacy-mc-components-modal__rounded-box {
        padding: 3.6rem 1.6rem 1.6rem;
        margin: 1.2rem 0;
    }
}

.legacy-mc-components-modal__close-icon {
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 3.2rem;
    color: #fff;
}

@media (max-width: 576px) {
    .legacy-mc-components-modal__close-icon {
        display: none;
    }
}

.legacy-mc-components-modal__close-icon--outside-right {
    right: 3.2rem;
}

.legacy-mc-components-modal__close-icon--outside-left {
    left: 3.2rem;
}

.legacy-mc-components-modal__inner-close-icon {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 1.4rem;
}

.legacy-mc-components-modal__inner-close-icon svg {
    opacity: 0.3;
}

.legacy-mc-components-modal__inner-close-icon path {
    fill: #000;
    stroke: #000;
}

@media (max-width: 576px) {
    .legacy-mc-components-modal__inner-close-icon {
        display: flex;
    }
}

.legacy-mc-components-modal__inner-close-icon--inside-right {
    right: 1.4rem;
}

.legacy-mc-components-modal__inner-close-icon--inside-left {
    left: 1.4rem;
}

.legacy-mc-components-modal__inner-close-icon--desktop-active {
    display: flex;
}

.legacy-mc-components-modal__paragraph {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.02rem;
    color: rgba(39,44,51,0.8);
}

.legacy-mc-components-modal__body--open {
    overflow: hidden;
    height: 100vh;
}

.modal-header__header {
    color: #000;
    font-weight: 700;
    line-height: 3.4rem;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    margin: 1.6rem 0;
    text-align: center;
}

.legacy-mc-components-modal-header__subheader {
    color: rgba(77,87,104,0.3);
    font-weight: 700;
    line-height: 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
}

.legacy-mc-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 130;
}

.legacy-mc-modal:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 0;
    max-height: 0;
    background: transparent;
    transition: background 200ms ease, max-width 0ms 200ms, max-height 0ms 200ms;
}

.legacy-mc-modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: auto;
    padding: 1.6em 2.4em;
    background: #fff;
    opacity: 0;
    box-shadow: 1px solid rgba(0,0,0,0.5);
    color: #000;
    transform: translate(-50%, calc(-50% + 10px));
    transition: none;
    transition-delay: 0ms;
}

.legacy-mc-modal-dialog--scroll {
    top: 2em;
    transform: translate(-50%, 10px);
}

.legacy-mc-modal-close {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 5px;
    opacity: 0.2;
    z-index: 1;
    transition: opacity 150ms ease;
    -webkit-backface-visibility: hidden;
}

.legacy-mc-modal-close:hover {
    opacity: 0.4;
}

.legacy-mc-modal-title {
    text-align: center;
    font-size: 1.33em;
    margin-bottom: 1.25em;
    color: #596170;
}

.modal-active {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.modal-active .legacy-mc-modal:before {
    background: rgba(0,0,0,0.8);
    max-width: 100%;
    max-height: 100%;
    transition: background 200ms ease, max-width 0ms 0ms, max-height 0ms 0ms;
}

.modal-active.modal-blur:before {
    background: rgba(0,0,0,0.2);
}

.modal-active.modal-blur>*:not(.legacy-mc-modal) {
    filter: blur(5px);
    backface-visibility: hidden;
    perspective: 1000;
    transition: filter 300ms ease;
}

.modal-active.modal-blur>div:last-of-type,.modal-active.modal-blur #lpformframesign-in-email,.modal-active.modal-blur>iframe:last-of-type {
    filter: blur(0);
}

.modal-active .legacy-mc-modal.full .legacy-mc-modal-dialog {
    transform: translate(-50%, 0%);
}

.legacy-mc-modal.visible {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.legacy-mc-modal.visible .legacy-mc-modal-dialog {
    max-width: calc(100% - 4em);
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: transform 300ms ease 450ms, opacity 200ms ease 450ms;
}

.legacy-mc-modal.visible .legacy-mc-modal-dialog--scroll {
    transform: translate(-50%, 0);
}

@media (min-width: 960px) {
    .legacy-mc-modal {
        font-size: 15px;
    }
}

.legacy-mc-modal.login .or {
    position: relative;
    margin: 0 0 0.4em 0;
    text-align: center;
    color: rgba(89,97,112,0.8);
    text-transform: uppercase;
}

.legacy-mc-modal.login .or:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(89,97,112,0.2);
    z-index: -1;
}

.legacy-mc-modal.login .or span {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em 1em;
    background: #fff;
}

.legacy-mc-modal.login button {
    display: block;
    cursor: pointer;
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
    border: 0;
    border-radius: 3px;
    color: #fff;
    width: 100%;
    font-size: 1.2em;
    letter-spacing: 0.035em;
    padding: 1.05em 0.5em;
    transition: background 200ms ease;
}

.legacy-mc-modal.login .modal-subtext {
    font-size: 0.9333em;
    text-align: center;
    color: rgba(89,97,112,0.6);
}

.legacy-mc-modal.login .modal-subtext.existing-fb {
    margin-bottom: 20px;
}

.legacy-mc-modal.login .legacy-mc-modal-submit {
    margin: 0.75em 0 0;
    background: #f15a25;
    text-transform: uppercase;
}

.legacy-mc-modal.login .legacy-mc-modal-submit:hover {
    background: #d63636;
}

.legacy-mc-modal.login .button_desc {
    width: 100%;
    font-size: 0.933em;
    margin-top: 0.8em;
    text-align: center;
    color: #596170;
}

.legacy-mc-modal.login .button_desc a {
    color: #f15a25;
    box-shadow: 0 1px 0 rgba(255,255,255,0);
    transition: box-shadow 150ms ease;
}

.legacy-mc-modal.login .button_desc a:hover {
    box-shadow: 0 1px 0 #f15a25;
}

.legacy-mc-modal.login input {
    display: block;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0.7em 0.5em;
    font-size: 1em;
    border: 1px solid rgba(0,0,0,0.14);
    border-radius: 3px;
    box-shadow: none;
    appearance: none;
    transition: border 150ms ease;
}

.legacy-mc-modal.login input#sign-in-password {
    margin-bottom: 0;
}

.legacy-mc-modal.login input:focus {
    outline: none;
    border: 1px solid #596170;
}

.legacy-mc-modal.login input.error {
    border: 1px solid rgba(200,50,50,0.6);
}

.legacy-mc-modal.login label.error {
    display: block;
    color: rgba(200,50,50,0.6);
    margin: 0 0 0.5em;
}

.legacy-mc-modal.login #sign-in-forgot-password {
    margin: 0.3em 0 0;
    text-align: right;
    font-size: 0.9333em;
}

.legacy-mc-modal.login #sign-in-forgot-password .forgot {
    color: rgba(89,97,112,0.6);
}

.legacy-mc-modal.login #sign-in-forgot-password .forgot:hover {
    color: rgba(89,97,112,0.8);
}

.legacy-mc-modal.chromeless:before {
    background: rgba(0,0,0,0.95);
}

.legacy-mc-modal.chromeless .legacy-mc-modal-close {
    opacity: 0.5;
    color: #fff;
}

.legacy-mc-modal.chromeless .legacy-mc-modal-close:hover {
    opacity: 1;
}

.legacy-mc-modal.chromeless .legacy-mc-modal-dialog {
    background: transparent;
    padding: 0;
    color: #fff;
    box-shadow: none;
    width: 900px;
    height: auto;
    min-width: 200px;
    max-width: 100%;
}

.legacy-mc-modal.chromeless .legacy-mc-modal-dialog .instructor-class {
    color: rgba(255,255,255,0.5);
    margin: 0 0 0 0.5em;
}

.legacy-mc-modal.chromeless .modal-caption {
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 1em 0;
}

.legacy-mc-modal.chromeless .modal-caption:after {
    content: "";
    display: block;
    clear: both;
}

.legacy-mc-modal.chromeless .class-title {
    font-size: 1.07em;
    text-align: center;
    padding: 1em 0;
}

.legacy-mc-modal.chromeless .ctas {
    display: block;
    float: none;
    text-align: center;
}

.legacy-mc-modal.chromeless .ctas:after {
    content: "";
    display: block;
    clear: both;
}

.legacy-mc-modal.chromeless .ctas .cta {
    margin: 0.55em 0 0.55em 1.1em;
}

@media (min-width: 960px) {
    .legacy-mc-modal.chromeless .class-title {
        float: left;
    }

    .legacy-mc-modal.chromeless .ctas {
        float: right;
    }
}

.legacy-mc-modal.full .legacy-mc-modal-close {
    opacity: 0.5;
}

.legacy-mc-modal.full .legacy-mc-modal-close:hover {
    opacity: 1;
}

.legacy-mc-modal.full .modal-caption {
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 1em 0;
}

.legacy-mc-modal.full .modal-caption:after {
    content: "";
    display: block;
    clear: both;
}

.legacy-mc-modal.full .legacy-mc-modal-title {
    position: relative;
    font-size: 1.5em;
    margin: 1em auto;
    text-align: center;
    color: #fff;
}

.legacy-mc-modal.full .legacy-mc-modal-dialog {
    top: 5.0625em;
    width: calc(100% - 2em);
    max-width: 1000px;
    height: auto;
    max-height: calc(100% - 9.375em);
    overflow: auto;
    transform: translate(-50%, 1.875em);
}

.legacy-mc-modal.full.visible .legacy-mc-modal-dialog {
    max-width: 1000px;
}

.brightcove-popover.legacy-mc-modal.chromeless .legacy-mc-modal-dialog {
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 960px) {
    .brightcove-popover.legacy-mc-modal.chromeless .legacy-mc-modal-dialog {
        padding: 10%;
    }
}

.brightcove-popover.legacy-mc-modal.chromeless.visible .legacy-mc-modal-dialog {
    transition: opacity 600ms ease;
}

.sticky-nav {
    position: fixed;
    left: 0;
    top: 47px;
    width: 100%;
    z-index: 110;
    pointer-events: none;
    background: linear-gradient(to bottom, #000 0%, transparent 100%);
    opacity: 0;
    transition: opacity 500ms ease;
}

.sticky-nav--active {
    opacity: 1;
    pointer-events: auto;
}

.sticky-nav--logged-in {
    top: 36px;
}

@media (min-width: 576px) {
    .sticky-nav {
        background: rgba(0,0,0,0.8);
    }
}

@media (min-width: 768px) {
    .sticky-nav {
        top: 34px;
    }

    .sticky-nav--logged-in {
        top: 56px;
    }
}

.checkbox {
    position: relative;
    padding: 0 0.6rem;
}

.checkbox__input {
    visibility: hidden;
    position: absolute;
}

.checkbox__label {
    display: inline-block;
    letter-spacing: 0.2px;
    color: #4D5768;
    text-align: left;
    width: 85%;
}

.checkbox__mock {
    position: relative;
    display: inline-block;
    flex: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 0.1rem solid rgba(148,154,164,0.5);
    margin-right: 1.6rem;
    vertical-align: top;
    top: 1px;
}

.checkbox__mock:before {
    content: "";
    position: absolute;
    left: 6px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
}

.checkbox__mock--checked {
    background-color: #949AA4;
}

.checkbox__mock--checked:before {
    opacity: 1;
}

.site-footer-v3 {
    max-width: 320px;
    margin: 64px auto 0;
    padding: 48px 16px;
}

.site-footer-v3 .checkbox {
    padding: 0;
}

.site-footer-v3 .checkbox__mock {
    margin-top: 2px;
    margin-right: 8px;
}

.site-footer-v3 .checkbox__mock:before {
    left: 4px;
    top: 0px;
}

.site-footer-v3__checkbox--message {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #949AA4;
    margin-top: 0;
}

.site-footer-v3__checkbox--false .checkbox__mock {
    border: 1px solid #f15a25;
}

.site-footer-v3__checkbox--false .site-footer-v3__checkbox--message {
    color: #f15a25;
}

.site-footer-v3__checkbox--success {
    display: none;
}

.site-footer-v3__logo {
    display: block;
    height: 64px;
    width: 97px;
    opacity: 0.8;
}

.site-footer-v3__columns {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.site-footer-v3__column {
    width: 100%;
    flex-shrink: 0;
}

.site-footer-v3__column--logo {
    order: -2;
}

.site-footer-v3__column--socials {
    order: -1;
    margin-top: 8px;
    min-width: 205px;
}

.site-footer-v3__column--download {
    display: none;
}

.site-footer-v3__link-header {
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 32px;
    line-height: 15px;
    color: #596170;
    font-weight: bold;
}

.site-footer-v3__link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.015em;
    margin-top: 16px;
    transition: opacity 250ms ease;
}

.site-footer-v3__link a {
    color: #949AA4;
}

.site-footer-v3__email-input {
    margin-top: 8px;
    position: relative;
}

.site-footer-v3__email-input span {
    content: '';
    width: 32px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../chevron-right.png) center/24px 24px no-repeat;
}

.site-footer-v3__email-input input {
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    border: 1px solid #949AA4;
    padding-right: 32px;
    width: 100%;
    height: 40px;
    transition: border 250ms ease;
}

.site-footer-v3__email-input input:focus {
    border-color: white;
}

.site-footer-v3__email-input--success span {
    background-image: url(../check.png);
}

.site-footer-v3__email-input--failure span {
    background-image: url(../close-.png);
}

.site-footer-v3__email-input--submitted input {
    border: 1px solid #949AA4;
    color: #949AA4;
}

.site-footer-v3__email-input--submitted input:focus {
    border-color: #949AA4;
}

.site-footer-v3__email-input--message {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.04em;
    margin-top: 4px;
    margin-bottom: 4px;
}

.site-footer-v3__tos {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.04em;
    margin-top: 16px;
    color: #949AA4;
}

.site-footer-v3__tos a {
    color: #949AA4;
    text-decoration: underline;
}

.site-footer-v3__tos--success {
    display: none;
}

.site-footer-v3__socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 18px 0 16px;
}

.site-footer-v3__social {
    transition: opacity 250ms ease;
    opacity: 0.6;
    width: 34px;
    height: 34px;
}

.site-footer-v3__social:last-child {
    margin-right: 0;
}

.site-footer-v3__legal {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: #596170;
    text-align: left;
    margin-top: 60px;
}

.site-footer-v3__legal span {
    display: block;
}

.site-footer-v3__secured-with img {
    margin-right: 5px;
}

.site-footer-v3__store-icons {
    display: flex;
    align-items: center;
    margin-top: 58px;
}

.site-footer-v3__store-icon {
    margin: 0 14px 0 0;
}

.site-footer-v3__store-icon:last-child {
    margin-right: 0;
}

.site-footer-v3__store-icon img {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    .site-footer-v3 {
        max-width: 1072px;
        padding: 48px 30px;
    }

    .site-footer-v3__columns {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .site-footer-v3__column {
        flex-shrink: 1;
    }

    .site-footer-v3__column--socials {
        order: 0;
        margin-top: 0;
    }

    .site-footer-v3__column--logo {
        padding-right: 40px;
        padding-top: 36px;
    }

    .site-footer-v3__column--download {
        display: block;
    }

    .site-footer-v3__links:hover .site-footer-v3__link:hover {
        opacity: 1;
    }

    .site-footer-v3__links:hover .site-footer-v3__link:hover a {
        color: #fff;
    }

    .site-footer-v3__link-header {
        margin-top: 0;
    }

    .site-footer-v3__socials {
        margin: 72px 0 0;
    }

    .site-footer-v3__socials:hover .site-footer-v3__social:hover {
        opacity: 1;
    }

    .site-footer-v3__social {
        margin-right: 10px;
    }

    .site-footer-v3__store-icons {
        display: none;
    }

    .site-footer-v3__legal span {
        display: inline-block;
    }

    .site-footer-v3__secured-with:after {
        content: "|";
        margin: 0 16px;
        color: #31333B;
    }
}

.student-cards__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.student-cards__card {
    position: relative;
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
    padding: 24px;
    transition: opacity 500ms ease;
}

.student-cards__instructor-image {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

.student-cards__student-image {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.dm-cm-logo {
    height: 1em;
}

.screenreader {
    width: 0px;
    height: 0px;
    text-indent: -10000px;
    display: block;
    margin: 0;
}

.browse-classes:hover {
    cursor: pointer;
}

.browse-classes:hover .mc-arrow-down {
    border-top: 6px solid rgba(255,255,255,0.3);
}

.browse-classes .mc-arrow {
    display: inline-block;
    vertical-align: middle;
    border: 6px solid transparent;
    margin: -3px 0.5em 0;
    -webkit-transition: border 150ms ease;
    transition: border 150ms ease;
}

.browse-classes .mc-arrow-down {
    border-top: 6px solid rgba(255,255,255,0.2);
    border-bottom: 0;
}

.more-about .access-banner {
    font-size: 15px;
    position: relative;
    border: 1px solid rgba(255,255,255,0.1);
    border-left: 0;
    border-right: 0;
    padding: 6.5em 1em;
    background: url(../access-banner.jpg) center/cover no-repeat;
}

.more-about .access-banner .verbiage {
    margin: 0 auto;
    max-width: 460px;
    text-align: center;
}

.more-about .access-banner h2 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 300;
}

.more-about .access-banner p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.015em;
}

.more-about .access-banner .cta {
    margin-top: 1em;
}

.more-about .access-banner a {
    font-size: 0.889em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.more-about .access-banner .mc-arrow {
    display: inline-block;
    vertical-align: middle;
    border: 6px solid transparent;
    margin: -3px 0.5em 0;
    width: 6px;
    height: 6px;
    -webkit-transition: border 150ms ease;
    transition: border 150ms ease;
}

.more-about .access-banner .mc-arrow.mc-arrow-right {
    border-left: 6px solid #fff;
    border-right: 0;
}

@media (min-width: 576px) {
    .master-classes .mc-tile--sm-21x9:before {
        display: block;
        width: 100%;
        padding-top: 42.85714%;
        content: "";
    }

    .master-classes .mc-tile--sm-21x9>.background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-repeat: cover;
        background-size: cover;
    }

    .master-classes .mc-tile--sm-21x9 .fill {
        position: absolute;
        top: 0;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .master-classes .mc-tile--sm-21x9 .fill:after {
        position: relative;
        width: 100%;
        height: 100%;
        content: " ";
    }

    .master-classes .mc-tile--sm-21x9 .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
}

.links-lesson-pages__separator-line {
    border-bottom: 1px solid #31333b;
}

.homepage-slides {
    position: relative;
    height: 100vh;
    min-height: 700px;
    max-height: 800px;
    overflow: hidden;
}

.homepage-slides .slick-list {
    overflow: visible;
}

.homepage-slides .thumbs {
    box-sizing: content-box;
    position: absolute;
    left: 0;
    bottom: 4em;
    margin: 0 -128px;
    padding: 0 128px;
    width: 100%;
    overflow: hidden;
}

.homepage-slides .thumbs:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 128px;
    height: 100%;
    background: linear-gradient(to right, black 0%, transparent 100%);
    z-index: -1;
}

.homepage-slides .thumbs:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 128px;
    height: 100%;
    background: linear-gradient(to left, black 0%, transparent 100%);
    z-index: -1;
}

.homepage-slides .thumbs__container {
    position: relative;
}

.homepage-slides .thumbs .mc-arrow {
    display: none !important;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 14px solid transparent;
    overflow: hidden;
    text-indent: -100%;
    -webkit-transition: border 150ms ease;
    transition: border 150ms ease;
    z-index: 100;
}

@media (min-width: 768px) {
    .homepage-slides .thumbs .mc-arrow {
        display: block !important;
    }
}

.homepage-slides .thumbs .mc-arrow.mc-arrow-right {
    left: 100%;
    border-left: 14px solid #f15a25;
    border-right: 0;
    width: 14px;
    height: 28px;
}

.homepage-slides .thumbs .mc-arrow.mc-arrow-right:hover {
    border-left: 14px solid #f15a25;
}

.homepage-slides .thumbs .mc-arrow.mc-arrow-left {
    right: 100%;
    border-right: 14px solid #f15a25;
    border-left: 0;
    width: 14px;
    height: 28px;
}

.homepage-slides .thumbs .mc-arrow.mc-arrow-left:hover {
    border-right: 14px solid #f15a25;
}

.homepage-slides .browse-classes {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    transform: translateX(-50%);
}

.homepage-ap-hero-content {
    position: relative;
}

.homepage-ap-hero-content__link {
    display: block;
}

.homepage-ap-hero-content__image-container {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 1220px;
    height: 90%;
    overflow: hidden;
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    .homepage-ap-hero-content__image-container {
        left: 55%;
    }
}

.homepage-ap-hero-content__image-container:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, transparent 40%, black 100%),url(../images/bjt.png) center/100% 100% no-repeat;
    pointer-events: none;
}

@media (min-width: 768px) {
    .homepage-ap-hero-content__image-container:before {
        background: linear-gradient(to bottom, transparent 0%, transparent 40%, black 100%),url(../images/bjt.png) center/100% 100% no-repeat;
    }

    .homepage-ap-hero-content__image-container:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, black 0%, black 20%, transparent 60%);
        pointer-events: none;
    }
}

@media (min-width: 768px) {
    .homepage-ap-hero-content__image {
        margin-left: 10%;
    }
}

.homepage-ap-hero-content__content {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 38vw;
    height: 100vh;
    min-height: 700px;
    max-height: 800px;
    z-index: 1;
    pointer-events: none;
}

@media (min-width: 768px) {
    .homepage-ap-hero-content__content {
        align-items: center;
        padding-bottom: 200px;
    }
}

.homepage-ap-hero-content__content a {
    pointer-events: auto;
}

.instructor_announcements .slick-arrow {
    background: transparent url(../arrow-left.svg) center/28px 28px no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    text-indent: 900%;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: opacity 250ms ease;
}

.instructor_announcements .slick-arrow.slick-next {
    transform: rotate(180deg);
    margin-left: 16px;
}

.instructor_announcements .slick-arrow.slick-disabled {
    opacity: 0.3;
}

.instructor_announcements__slide-navigation {
    margin-top: 24px;
}

.instructor_announcements__slide {
    display: flex;
    align-items: stretch;
    outline: none;
}

.slick-initialized .instructor_announcements__slide.slick-slide {
    display: flex;
}

.instructor_announcements__card {
    background: #fff;
    padding: 24px;
    height: 100%;
    border-radius: 4px;
    color: #000;
}

.instructor_announcements__card-header {
    display: flex;
    padding-right: 40px;
    margin-bottom: 20px;
    align-items: center;
}

.instructor_announcements__card-avatar {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    border-radius: 36px;
    background: transparent center/cover no-repeat;
}

.instructor_announcements__card-author {
    font-weight: bold;
    line-height: 22px;
    font-size: 16px;
    letter-spacing: 0.533333px;
}

.instructor_announcements__card-username {
    line-height: 14px;
    font-size: 10px;
    letter-spacing: 0.2px;
    opacity: 0.5;
}

.instructor_announcements__card-content {
    line-height: 22px;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.instructor_announcements__card-content a {
    color: #1DA1F2;
}

.instructor_announcements__card-post-image {
    display: block;
    margin: 24px -24px;
    width: calc(100% + 48px);
}

.instructor_announcements__card--twitter .instructor_announcements__card-header {
    background: transparent url(../twitter-logo.svg) right center/30px 30px no-repeat;
}

.instructor_announcements__card--facebook .instructor_announcements__card-header {
    background: transparent url(../fb-logo.svg) right center/16px 16px no-repeat;
}

.instructor_announcements__card--facebook .instructor_announcements__card-avatar {
    border-radius: 4px;
}

.homepage-playlists {
    margin-bottom: 360px !important;
}

.homepage-playlists .button-caption {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: translateY(7px);
    transition: opacity 500ms cubic-bezier(0.5, -0.11, 0.355, 1.01) 0ms,transform 500ms cubic-bezier(0.5, -0.11, 0.355, 1.01) 0ms,max-height 0ms ease 500ms;
}

.homepage-playlists__playlist .mc-tile-caption__content {
    padding-top: 0;
}

.homepage-playlists__playlist:hover .button-caption {
    max-height: 9999999px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease 400ms, transform 500ms ease 400ms, max-height 0ms ease 0ms;
}

.homepage-playlists__wrapper-button-caption {
    z-index: 2;
}

.homepage-playlists__tile-caption {
    background-color: #191c21;
}

.homepage-playlists__playlist-title {
    min-height: 48px;
}

.homepage-playlists__playlist-description {
    min-height: 98px;
    border-bottom: 0.61px solid #31333b;
}

@media (min-width: 576px) and (max-width: 960px) {
    .homepage-playlists__playlist-description {
        min-height: 114px;
    }
}

.homepage-playlists__instructor-wrapper {
    position: relative;
}

.homepage-playlists__instructor-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid transparent;
}

@media (min-width: 768px) {
    .homepage-playlists__instructor-image {
        width: 48px;
        height: 48px;
    }
}

.homepage-playlists__instructor-image:hover {
    border: 1px solid #596170;
}

.homepage-playlists__tooltip {
    z-index: 3;
    position: absolute;
    background: #31333b;
    border: 1px solid #596170;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    border-radius: 4px;
    left: -32px;
    min-width: 180px;
}

.homepage-playlists__tooltip--last {
    left: -80px;
}

.homepage-playlists a:hover {
    color: #fff;
}

.homepage-previews {
    margin-bottom: 128px !important;
}

.homepage-previews__play-icon {
    margin: 0 auto;
}

.homepage-previews__caption .mc-tile-caption__content {
    padding: 12px 16px 16px;
}

@media (min-width: 768px) {
    .homepage-previews__caption .mc-tile-caption__content {
        padding: 8px 0 16px;
    }
}

.homepage-previews__instructor {
    min-height: 48px;
}

.homepage-previews a:hover {
    color: #fff;
}

.mc-press__logo {
    opacity: 0.3;
    transition: opacity 250ms ease;
}

.mc-press__logo:hover {
    opacity: 1;
}
