#cookie-notice {
	display: none;
	position: fixed;
	left: 0; right: 0; bottom: 0;
	z-index: 100000;
	background: $color-5;
	color: $color-text;
	padding: 2em;
}

#cookie-notice-wrapper {
	@include breakpoint-up(sm) {
		display: flex;
		align-items: center;
		p {
			flex-grow: 1;
		}
	};
}

#cookie-notice-buttons {
	@include breakpoint-up(sm) {
		align-self: flex-end;
		margin-left: 30px;
	}
	a {
		display: block;
		width: 100%;
	}
}

#cookie-accept {
	margin-top: 0.5em;
}
